.example-card {
    /* width: 400px; */
    max-width: 400px;
    height: 185px;
    
    margin: 10px 0px;
  }
  .mat-card-actions{
    display: flex;
    justify-content: space-between;
  }
  /* .mat-card-header {
    display: flex;
    justify-content: space-around;
} */

.mat-card-content{
    margin-top: 2%;
}
  /* .home-card {
    border-radius: 4px;
    max-width: 600px;
    max-height: 1000px;
    margin-top: 100px;
    padding: 0;
  } */
  .example-card .mimage {
      margin: 0;
      height: 100%;
    }

 