<mat-toolbar class="mat-elevation-z6">
  <mat-toolbar-row>
    <a routerLink="/home" class="logo-wrapper">
      <img class="nav-logo" alt="Quadratyx" src="../../assets/whatisblog.png">
    </a><a>
      <span>WELCOME TO SAN BLOG</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container ">
  <div class="row">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <form [formGroup]="loginForm" class="loginform " (keydown.enter)="changePwd()">
        <h2 class="main-heading">LOGIN</h2>
        <div [ngClass]="{ 'has-error': submitted && f.userid.errors }" class="form-group clearfix" style="padding:3%">
          <mat-form-field class="full-width">
            <input [(ngModel)]="userDetails.user_id" [ngClass]="{ 'has-error': submitted && f.userid.errors }"
              class="form-control" formControlName="userid" id="uid" #uidInput matInput name="project"
              placeholder="Enter Email Id" type="text" (keydown.Tab)="onKey($event,'uid');false;"
              (keyup.enter)="onKey($event,'uid');false;">
          </mat-form-field>
          <div *ngIf="submitted && f.userid.errors" class="help-block">
            <div class="validation-error" *ngIf="f.userid.errors.required">Email Id is required</div>
          </div>

        </div>
        <div [ngClass]="{ 'has-error': submitted && f.password.errors }" class="form-group clearfix" style="padding:3%">


          <mat-form-field class="full-width">
            <input [(ngModel)]="userDetails.password" [ngClass]="{ 'has-error': submitted && f.password.errors }"
              [type]="show_password ? 'text' : 'password'" class="form-control" formControlName="password" matInput
              placeholder="Enter your password" #input id="pwd" (keydown.Tab)="onKey($event,'pwd');false;"
              (keyup.enter)="onKey($event,'pwd');false;">
            <mat-icon (click)="showPassword()" matSuffix>{{show_password ? 'visibility' : 'visibility_off'}}
            </mat-icon>
          </mat-form-field>

          <div *ngIf="submitted && f.password.errors" class="help-block">
            <div class="validation-error" *ngIf="f.password.errors.required">Password is required</div>
            <div class="validation-error" *ngIf="f.password.errors.minlength">Password must be at least 4 characters
            </div>
          </div>

        </div>
        <a mat-button [routerLink]="['/signUp']"
          style="float:left;text-decoration: underline;text-decoration-color:#0071a5;color:#0071a5">SignUp</a>
        <button (click)="login()" id="loginBtn" mat-raised-button class="actionButton" #btnRef
          style="float:right;">LOGIN</button>
      </form>
    </div>
  </div>
</div>