
.loginform {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    margin-top: 4%;
    padding:3%;
    border-radius:5px
}
.nav-logo{
    width: 100px;
    height: 56px;
  }
.mat-toolbar-multiple-rows {
    min-height: auto;
}

.mat-toolbar a{
    color: #0071A5;
}

.example-spacer {
  flex: 1 1 auto;
}